* {
   -fx-mainColor:             #254671;
   -fx-backgroundColor:       #ffffff;
   -fx-main-height:             600px;
   -fx-box-weight:              445px;
   -fx-box-height:               30px;
   -fx-cursor-type:              HAND;
   -fx-text-mainColor:           #fff;
   -fx-clock-height:             60px;
   -fx-pressed-color:         #546E7A;
}

/* ********************************************* */
/* * This part is dedicated for Buttons Design  * */
/* ********************************************* */
/* Design of buttons */

Button:hover{
    -fx-cursor:               -fx-cursor-type;
}

Button{
    -fx-pref-width:                     110px;
    -fx-pref-height:                     27px;
    -fx-font-size:                       14px;
}

.button1{
    -fx-text-fill:              -fx-mainColor;
    -fx-border-color:           -fx-mainColor;
    -fx-background-color: -fx-backgroundColor;
} 

.button1:hover{ 
    -fx-cursor:               -fx-cursor-type;
    -fx-text-fill:        -fx-backgroundColor;
    -fx-border-color:           -fx-mainColor;
    -fx-background-color:       -fx-mainColor;
} 
#weiterBtn{ 
    -fx-pref-width:                     152px;
} 
.button1:pressed{ 
    -fx-background-color:   -fx-pressed-color;
    -fx-border-color:       -fx-pressed-color;
}
/* Design of buttons */

/* ********************************************* */
/* * This part is dedicated for ComboBox Design * */
/* ********************************************* */
/* Design of ComboBox */
ComboBox{
    -fx-pref-width:                       445px;
    -fx-pref-height:             -fx-box-height;
    -fx-border-color:             -fx-mainColor;
    -fx-font-family:                 sans-serif;
    -fx-font-size:                         13px;
    -fx-background-color:   -fx-backgroundColor;
}

.combo-box-popup{
    -fx-font-size:                         13px;
}

.combo-box-popup .list-view .list-cell:hover
{
    -fx-font-size:                         13px;
    -fx-background-color:         -fx-mainColor;
    -fx-text-fill:          -fx-backgroundColor;
}

.combo-box-popup .list-view .list-cell:selected
{
    -fx-background-color:     -fx-pressed-color;
}
/* End of ComboBox */

/* ********************************************* */
/* * This part is dedicated for Overall Design  * */
/* ********************************************* */
/* Design of Overall GUI */

BorderPane{
    -fx-pref-heigh:            -fx-main-height;
    -fx-pref-width:                     1000px;
    -fx-background-color:  -fx-backgroundColor;
}

.TitleText{
    -fx-font-size:                        24px;
    -fx-font-weight:                      bold;
    -fx-fill:                             #fff;
}

.TitleBox{
    -fx-alignment:                      CENTER;
    -fx-pref-width:            -fx-main-height;
    -fx-pref-height:                      66px;
    -fx-background-color:        -fx-mainColor;
}
#closeBtn:hover{
    -fx-cursor:                        DEFAULT;
    -fx-text-fill:                       #fffd;
    -fx-background-color:                  red;
}

.closeMinimizeBtns{
    -fx-alignment:                      CENTER;
    -fx-font-size:                        14px;
    -fx-font-scale:                         10;
    -fx-pref-width:                       40px;
    -fx-pref-height:                      25px;
}

#minimizingBtn:hover{
    -fx-text-fill:                       #fff9;
    -fx-background-color:            #00000030;
    -fx-background-insets:                 0.2;
}

.windowMainStyle{
    -fx-alignment:                      center;
    -fx-pref-width:                     1060px;
    -fx-pref-height:                     534px;
    -fx-background-color:  -fx-backgroundColor;
}

.GeneralTextStyle{
    -fx-fill:                             #fff;
    -fx-font-size:                        15px;
}

/* End of of Overall GUI */

/* ********************************************* */
/* * This part is dedicated for LoginLayout  **** */
/* ********************************************* */
/* Design of LoginLayout */
.textBoxLogin{
    -fx-pref-width:             -fx-box-weight;
    -fx-pref-height:            -fx-box-height;
    -fx-border-color:            -fx-mainColor;
    -fx-background-color:  -fx-backgroundColor;
}

.alertMessage{
    -fx-text-fill:                     #ff0000;
    -fx-font-size:                        13px;
    -fx-pref-width:                      300px;
    -fx-pref-height:                      20px;
    -fx-text-alignment:                  right;
}
/* End of LoginLayout */

/* ********************************************* */
/* * This part is dedicated for BurnInLayouts **** */
/* ********************************************* */
/* Design of BurnInLayouts */

.clock{
    -fx-pref-width:            -fx-box-weight;
    -fx-pref-height:         -fx-clock-height;
    -fx-background-color:       -fx-mainColor;
}

.clockLabel{
    -fx-font-size:                       50px;
    -fx-text-fill:        -fx-backgroundColor;
    -fx-font-weight:                     bold;
    -fx-alignment:                     center;
    -fx-font-alignment:                center;
}

/* End of BurnInLayouts */