* {
   background-color:          #ffffff;
   main-color:                #054671;
   window-width:               1000px;
   window-height:               600px;
   text-box-width:              445px;
   text-box-height:              30px;
   clock-box-height:             60px;
   cursor-hover-button:          HAND;
   pressed-button-color:      #546E7A;
   text-main-color:              #fff;
   alert-color:               #ff0000;
   table-width:                 477px;
   table-height:                377px;
}

/* ********************************************* */
/* * This part is dedicated for Buttons Design  * */
/* ********************************************* */
/* Design of buttons */

Button:hover{
    -fx-cursor:             cursor-hover-button;
}

Button{
    -fx-pref-width:                       110px;
    -fx-pref-height:                       27px;
    -fx-font-size:                         14px;
}

.button1{
    -fx-text-fill:                    main-color;
    -fx-border-color:                 main-color;
    -fx-background-color:       background-color;
} 

.button1:hover{ 
    -fx-cursor:              cursor-hover-button;
    -fx-text-fill:              background-color;
    -fx-border-color:                 main-color;
    -fx-background-color:             main-color;
} 
#weiterBtn{ 
    -fx-pref-width:                        152px;
} 
.button1:pressed{ 
    -fx-background-color:   pressed-button-color;
    -fx-border-color:       pressed-button-color;
}
/* Design of buttons */

/* ********************************************* */
/* * This part is dedicated for ComboBox Design * */
/* ********************************************* */
/* Design of ComboBox */
ComboBox{
    -fx-pref-width:                       445px;
    -fx-pref-height:            text-box-height;
    -fx-border-color:                main-color;
    -fx-font-family:                 sans-serif;
    -fx-font-size:                         13px;
    -fx-background-color:      background-color;
}

.combo-box-popup{
    -fx-font-size:                         13px;
}

.combo-box-popup .list-view .list-cell:hover
{
    -fx-font-size:                         13px;
    -fx-background-color:            main-color;
    -fx-text-fill:             background-color;
}

.combo-box-popup .list-view .list-cell:selected
{
    -fx-background-color:  pressed-button-color;
    -fx-text-fill:             background-color;
}
/* End of ComboBox */

/* ********************************************* */
/* * This part is dedicated for Overall Design  * */
/* ********************************************* */
/* Design of Overall GUI */

BorderPane{
    -fx-pref-heigh:            window-height;
    -fx-pref-width:             window-width;
    -fx-background-color:   background-color;
}

.TitleText{
    -fx-font-size:                        24px;
    -fx-font-weight:                      bold;
    -fx-fill:                             #fff;
}

.TitleBox{
    -fx-alignment:                      CENTER;
    -fx-pref-width:              window-height;
    -fx-pref-height:                      66px;
    -fx-background-color:           main-color;
}
#closeBtn:hover{
    -fx-cursor:                        DEFAULT;
    -fx-text-fill:                       #fffd;
    -fx-background-color:                  red;
}

.closeMinimizeBtns{
    -fx-alignment:                      CENTER;
    -fx-font-size:                        14px;
    -fx-font-scale:                         10;
    -fx-pref-width:                       40px;
    -fx-pref-height:                      25px;
}

#minimizingBtn:hover{
    -fx-text-fill:                       #fff9;
    -fx-background-color:            #00000030;
    -fx-background-insets:                 0.2;
}

.windowMainStyle{
    -fx-alignment:                      center;
    -fx-pref-width:                     1060px;
    -fx-pref-height:                     534px;
    -fx-background-color:     background-color;
}

.GeneralTextStyle{
    -fx-fill:                             #fff;
    -fx-font-size:                        15px;
}

/* End of of Overall GUI */

/* ********************************************* */
/* * This part is dedicated for LoginLayout  **** */
/* ********************************************* */
/* Design of LoginLayout */
.textBoxLogin{
    -fx-pref-width:              text-box-width;
    -fx-pref-height:            text-box-height;
    -fx-border-color:                main-color;
    -fx-background-color:      background-color;
}

.alertMessage{
    -fx-text-fill:                  alert-color;
    -fx-font-size:                         13px;
    -fx-pref-width:                       300px;
    -fx-pref-height:                       20px;
    -fx-text-alignment:                   right;
}
/* End of LoginLayout */

/* *********************************************** */
/* * This part is dedicated for BurnInLayouts **** */
/* *********************************************** */
/* Design of BurnInLayouts */

.clock{
    -fx-pref-width:              text-box-width;
    -fx-pref-height:           clock-box-height;
    -fx-background-color:            main-color;
    -fx-alignment:                       CENTER;
}

.clockLabel{
    -fx-font-size:                         50px;
    -fx-text-fill:             background-color;
    -fx-font-weight:                       BOLD;
    -fx-alignment:                       CENTER;
    -fx-font-alignment:                  CENTER;
}

#BauteilIDTextField, #AuftragsnummerTextField, #SlotTextField{
    -fx-pref-width:           352px;
}
#alertMessageBurnIn{
    -fx-pref-width:           175px;
}

#inside-clockAnchor{
    -fx-alignment:                       CENTER;
    -fx-font-alignment:                  CENTER;
}
/* End of BurnInLayouts */

.Clock{
    -fx-pref-width:  10px;
    -fx-pref-height: 10px;
}

/* ************************************** */
/* * This part is dedicated for Tables ** */
/* ************************************** */
.table-view, .tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color:  transparent;
    -fx-table-cell-border-color:     main-color;
    -fx-box-border-color:            main-color; /* Horizontal Lines*/
    -fx-background-color:           transparent;
    -fx-pref-width:                 table-width;
    -fx-pref-height:               table-height;
}
/* The column header row is made up of a number of column-header, one for each
  TableColumn, and a 'filler' area that extends from the right-most column
  to the edge of the tableview, or up to the 'column control' button. */
.table-view .filler, .tree-table-view .filler, .table-view .column-header,
.tree-table-view .column-header {
   -fx-size:                                 40;
   -fx-color:                       transparent;
   -fx-border-style:                       null;
   -fx-border-color:                      white;
   -fx-border-width:                          1;
   -fx-background-color:             main-color;
}
.table-row-cell, .tree-table-row-cell {
   -fx-cell-size:                          40px;
}
.table-view .column-header .label{
   -fx-text-fill:               white;
}
.table-row-cell:selected {
   -fx-background-color:             main-color;
   -fx-text-background-color:        main-color;
}
/* End of Tables */